.App {
  text-align: center;
  margin-top: 30px;
}

/* Avatar */

.container--avatar {
  display: flex;
  justify-content: center;
}
.image--titles {
  display: flex;
}

.avatar--img {
  border-radius: 50%;
  margin: 20px;
  margin-top: 30px;
}

/* Particles */

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Image Link Form */

.show-button {
  margin-left: 10px;
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  justify-content: center;
  height: 100px;
}

.form {
  background-image: url("./images/input_background.png");
  background-repeat: no-repeat;
  width: 600px;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
